<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="false" targetFramework="4.0" />
      <profile>
        <properties>
          <group name="Personal">
            <add name="FirstName" type="string"/>
            <add name="LastName" type="string"/>
            <add name="DateOfBirth" type="DateTime"/>
          </group>
          <add name="MyTheme" type="string"/>
          <add name="Course" type="string"/>
          <add name="Center" type="CenterDetails" 
               serializeAs="Binary"/>
        </properties>
      </profile>
    </system.web>

</configuration>
